{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        
        <fieldset class="sweet-pot">
            {{ form_label(registrationForm.phone)}}
            {{ form_errors(registrationForm.phone)}}
            {{ form_widget(registrationForm.phone)}}
        </fielset>
        <fieldset class="sweet-pot">
            {{ form_label(registrationForm.faxNumber)}}
            {{ form_errors(registrationForm.faxNumber)}}
            {{ form_widget(registrationForm.faxNumber)}}
        </fielset>
        

    {{ form_end(registrationForm) }}
{% endblock %}
