{% extends 'base.html.twig' %}
{% block title %}Recherche de lieux{% endblock %}

{% block body %}
<div class="flex flex-col lg:flex-row gap-8 mt-10 m-auto lg:w-[80%]">
 
    <div class="lg:w-1/2 flex flex-col lg:flex-row gap-8">
      
        <form method="get" class="flex flex-col gap-4 bg-white rounded-xl p-4 shadow lg:w-1/2">
            <input type="text" name="city" placeholder="Ville" class="border border-gray-400 rounded px-4 py-2 w-full" />
            {# <button type="button" class="text-violet-800 underline mt-2" id="show-more-filters">Voir plus de filtres</button> #}
            <div class=" flex flex-col border border-gray-400 rounded px-4 py-2">
                <p>Prix</p>
                <div class="flex flex-col">
                    {% for price in prices %}
                    <div class="flex gap-2 text-[0.9rem] text-gray-700">
                        <input type="checkbox" name="priceId" value="{{ price.id }}" />
                        <label>{{  price.priceRange }} </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class=" flex flex-col border border-gray-400 rounded px-4 py-2">
                <p>Type</p>
                <div class="flex flex-col">
                    {% for type in types %}
                    {# <div class="flex gap-2 text-[0.9rem] text-gray-700">
                        <input type="checkbox" name="typeId" value="{{ type.id }}" />
                        <label>{{ type.typeName }} </label>
                    </div> #}
                     <label class="flex gap-2 text-[0.9rem] text-gray-700">
                        <input type="radio" name="typeId" value="{{ type.id }}"
                            {% if filters.typeId is defined and filters.typeId == type.id %}checked{% endif %}/>
                        {{ type.typeName }}
                    </label>
                    {% endfor %}
                </div>
            </div>
            
            <div class=" flex flex-col border border-gray-400 rounded px-4 py-2">
                <p>Avec qui ?</p>
                <div class="flex flex-col">
                    {% for companion in companions %}
                    <div class="flex gap-2 text-[0.9rem] text-gray-700">
                        <input type="checkbox" value="{{ companion.id }}" />
                        <label>{{ companion.companionName}} </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
             <div class=" flex flex-col border border-gray-400 rounded px-4 py-2">
                <p>Thème</p>
                <div class="flex flex-col">
                    {% for theme in themes %}
                    <div class="flex gap-2 text-[0.9rem] text-gray-700">
                        <input type="checkbox" value="{{ theme.id }}" />
                        <label>{{ theme.themeName }} </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class=" flex flex-col border border-gray-400 rounded px-4 py-2">
                <p>Confort</p>
                <div class="flex flex-col">
                    {% for confort in conforts %}
                    <div class="flex gap-2 text-[0.9rem] text-gray-700">
                        <input type="checkbox" name="confortId" value="{{ confort.id }}" />
                        <label>{{ confort.confortLevel }} </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="more-filters" class="flex flex-col gap-4">
                <div class=" flex flex-col border border-gray-400 rounded px-4 py-2">
                    <p>Durée</p>
                    <div class="flex flex-col">
                        {% for duration in durations %}
                        <div class="flex gap-2 text-[0.9rem] text-gray-700">
                            <input type="checkbox" name="durationId" value="{{ duration.id }}" />
                            <label>{{ duration.onSiteTime }} </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
              
                <select name="intensity" class="border border-gray-400 rounded px-4 py-2">
                    <option value="">Intensité</option>
                    {% for intensity in intensities %}
                        <option value="{{ intensity.id }}">{{ intensity.intensityLevel }}</option>
                    {% endfor %}
                </select>
               
                 
            </div>
            <button type="submit" class="bg-violet-800 text-white px-6 py-2 rounded-xl mt-4">Rechercher</button>
        </form>
    
        <div class="mt-8 flex flex-col gap-4 lg:w-1/2">
            {% for location in locations %}
                <a href="{{ path('location_detail', {'id': location.id}) }}" class="block">
                    <p class="font-medium border-violet-600 hover:bg-violet-600 hover:text-white transition-colors duration-300 ease-in-out border px-4 py-2 rounded cursor-pointer">{{ location.locationName }}</p>
                </a>
            {% else %}
                <p class="text-center text-gray-500">Aucun lieu trouvé.</p>
            {% endfor %}
        </div>
    </div>
   
    <div class="lg:w-1/2 mt-8 lg:mt-0">
        <div id="search-map" class="w-full h-96 bg-gray-200 rounded-xl" data-locations='{{ locations|json_encode }}'>
            <span class="text-gray-500">Carte</span>
        </div>
    </div>
</div>
<script src='https://unpkg.com/maplibre-gl@5.6.1/dist/maplibre-gl.js'></script>
<script src="{{ asset('js/location-search.js') }}"></script>

{% endblock %}
