{% extends 'base.html.twig' %}

{% block title %}Modifier l'itinéraire{% endblock %}

{% block body %}
<section class="flex justify-center w-full">
    <div class="flex flex-col gap-4 items-center justify-center w-full max-w-9/12 md:max-w-lg mt-20">
        <h1 class="text-2xl font-semibold mb-4">Modifier l'itinéraire</h1>

        {{ form_start(form) }}
            {{ form_row(form.itineraryName, { attr: { class: 'input-base mb-5' } }) }}
            {{ form_row(form.duration, { attr: { class: 'input-base mb-5' } }) }}
            {{ form_row(form.departureDate, { attr: { class: 'input-base mb-5' } }) }}
            {{ form_row(form.isPublic, { row_attr: { class: 'flex gap-6 items-center justify-center accent-violet-700' } }) }}

            <div class="mt-4">
                {{ form_row(form.save, { label: 'Enregistrer les modifications', attr: { class: 'bg-violet-800 px-12 py-2 text-white font-medium text-center w-full rounded-xl btn-violet mt-8 mb-6' } }) }}
            </div>
        {{ form_end(form) }}
    </div>  
</section>
{% endblock %}