{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />  
{% endblock %}
{% block body %}
    <section class="flex  justify-center w-full">  
        <div class="flex flex-col items-center justify-center w-full max-w-9/12  md:max-w-lg mt-20 ">
            {% if existingRating %}
                <div class="w-full border border-red-300 bg-red-50 rounded-md  mb-12 p-4">
                    <p class="text-center text-red-600 text-sm">
                        Le {{ existingRating.ratingDate|date('d/m/Y') }} vous avez déjà laissé un avis sur cet établissement, souhaitez-vous en laisser un nouveau ?
                    </p>
                </div>
            {% endif %}
            <h2 class="mb-8 text-xl">Laissez votre avis sur <span class="font-semibold text-violet-800 ">"{{ location.locationName }}"</span></h2>
        
            {{ form_start(formAddRating, { attr: { class: 'w-full' } }) }}

            <div class="flex justify-center w-full">
                {{ form_row(formAddRating.rating, { attr: { class: 'w-full' } }) }}
            </div>
            {{ form_row(formAddRating.comment, { attr: { class: 'resize-none border border-gray-300 rounded-xl w-full h-40', maxlength: 150 } }) }}
            
            {{ form_row(formAddRating.valider, { attr: { class: 'bg-violet-800 px-12 py-2 text-white font-medium text-center w-full rounded-xl btn-violet mt-8 mb-6' } }) }}
            
            {{ form_end(formAddRating) }}
            
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
    <script>
        $(document).ready(function() {
            $('input[name="rating[rating]"]').rating({
                showClear:false,
                showCaption:false,
            });
        });
    </script>
{% endblock %}
